div{
    height: 50px;
    width: 100px;
    /* Anything position types */
    position: absolute;

}

.red{
    background: red;
    /* z-index: 1; */
}
.green{
    background-color: green;
    top: 30px;
    left: 30px;
    
}
.blue{
    background: blue;
    top: 20px;
    left: 20px;
    z-index: 1;
}